body{
    background: url('../Imagenes/bg.jpg');
    
}

#pagina {
    margin: 0 auto;
    width: 950px;
    height: auto;
    background: #ffffff

}

section{
  
    padding: 10px;
    
    
}

#pie{
background-color: #a2a2ff
}